
// ALL COLORS
$color-primary: #7cd4fd;
$color-primary-light: #7df9ff ;
$color-primary-dark: #32bcfc;

$color-secondary-light: #00cccc;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #00cc66;


// home page colors 
$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// form colors
$color-red: #f00;


// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//text/font sizes
$default-font-size: 1.6rem; //16 px
